<div class="row">
	<div class="col s12">
		<h4 class="center-align">My Story</h4>

		<p>Hello! My name is Ramsey Villarreal. I am currently a computer science student at West Chester University. I am very passionate about programming and want to do what I can to have a positive impact on people. </p>
		<p>When I'm not programming, I'm most likely eating. I love food and trying new foods. I have tried foods from the East Coast to the West Coast and one thing is clear - I want to eat more.</p>
		<p></p>
		<p>The little time that I have left when I'm not stuffing my face or on a computer, you can probably catch me in the gym or playing sports. I play ice hockey, soccer, and I try to play basketball.
		</p>
	</div>
</div>