<div id="space">

	<div id="orbit-container">
		<div class="sun">
		</div>

		<div class="orbit" id="mercury">
			<div class="planet" >
			</div>
		</div>


		<div class="orbit" id="venus">
			<div class="planet" >
			</div>
		</div>



		<div class="orbit" id="earth">
			<div class="planet" >
			</div>
		</div>



		<div class="orbit" id="mars">
			<div class="planet" >
			</div>
		</div>


		<div class="orbit" id="jupiter">
			<div class="planet" >
			</div>
		</div>


		<div class="orbit" id="saturn">
			<div class="planet" >
				<div class="rings">
				</div>
			</div>

		</div>


		<div class="orbit" id="uranus">
			<div class="planet" >
			</div>
		</div>



		<div class="orbit" id="neptune">
			<div class="planet" >
			</div>
		</div>

		<div class="orbit" id="pluto">
			<div class="planet" >
			</div>
		</div>




	</div>



	<!-- TODO: add skills to models and make this last part with django -->

<!-- ----------------------Mercury Skill------------------------------- -->
	<div id="mercury" class="skillModal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2 class="skillTitle">
				C++
			</h2>
			
			<div class="experience">
				<p class="subHeader">Experience</p>
				<p>I have some experience with C++. Most of that experience comes from making little projects with an Arduino board.</p>
			</div>

			<!-- No classes on this language -->
	<!-- 
			<div class="classes">
				<p class="subHeader">Classes</p>
				<ul>
					<li>
						
					</li>
				</ul>
			</div> -->


	<!-- No projects to display yet -->
			<!-- <div class="projects">
				<p class="subHeader">Projects</p>
				<ul>
					<li>
						
					</li>
				</ul>
			</div> -->
		</div>
	</div>


<!-- ----------------------Venus Skill------------------------------- -->
	<div id="venus" class="skillModal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2 class="skillTitle">
				CSS
			</h2>
			
			<div class="experience">
				<p class="subHeader">Experience</p>
				<p>I have created a couple of websites. Some of them I wrote in pure HTML and CSS. This page in particular utilizes many css tools. All of the animations of the planets orbiting are done using CSS.</p>
			</div>

			<div class="classes">
				<p class="subHeader">Classes</p>
				<ul>
					<li>
						CSC 417: User Interfaces
					</li>
				</ul>
			</div>

			<div class="projects">
				<p class="subHeader">Projects</p>
				<ul>
					<li>
						This Site
					</li>
					<li>
						<a href="http://taz.cs.wcupa.edu/~rv849160/index.html">My old portfolio website</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
<!-- ----------------------Earth Skill------------------------------- -->
	<div id="earth" class="skillModal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2 class="skillTitle">
				HTML
			</h2>
			
			<div class="experience">
				<p class="subHeader">Experience</p>
				<p>I have created a couple of websites. Some of them I wrote in pure HTML and CSS. I have also used PHP and Django frameworks to build websites.</p>
			</div>

			<div class="classes">
				<p class="subHeader">Classes</p>
				<ul>
					<li>
						CSC 417: User Interfaces
					</li>
				</ul>
			</div>

			<div class="projects">
				<p class="subHeader">Projects</p>
				<ul>
					<li>
						This Site
					</li>
					<li>
						<a href="http://taz.cs.wcupa.edu/~rv849160/index.html">My old portfolio website</a>
					</li>
				</ul>
			</div>

		</div>
	</div>




<!-- ----------------------Mars Skill------------------------------- -->
	

	<div id="mars" class="skillModal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2 class="skillTitle">
				Database Management
			</h2>
			
			<div class="experience">
				<p class="subHeader">Experience</p>
				<p>I have knowledge of setting up and maintaining databases. I have some experience of SQL and MySQL databases. I also have experience with PostgreSQL - which this site is using. I have made models in PHP and Django. </p>
			</div>

			<div class="classes">
				<p class="subHeader">Classes</p>
				<ul>
					<li>
						CSC 417: User Interfaces
					</li>
				</ul>
			</div>

			<!-- no projects to show yet -->
			<div class="projects">
				<p class="subHeader">Projects</p>
				<ul>
					<li>
						This website			
					</li>
				</ul>
			</div>
		</div>
	</div>


	

<!-- ----------------------Jupiter Skill------------------------------- -->
	<div id="jupiter" class="skillModal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2 class="skillTitle">
				JavaScript
			</h2>
			
			<div class="experience">
				<p class="subHeader">Experience</p>
				<p>I have limited exerience in JavaScript, but it is my goal to really start to learn it. To start the learning process I used vanilla JavaScript on this website. 
				All of the animations on this website are either using JavaScript or CSS. It seems like a very useful language to know and I want to keep expanding my knowledge about it.</p>
			</div>

	<!-- No classes on this language -->
			<!-- <div class="classes">
				<p class="subHeader">Classes</p>
				<ul>
					<li>
						
					</li>
				</ul>
			</div> -->

			<div class="projects">
				<p class="subHeader">Projects</p>
				<ul>
					<li>
						This site uses vanilla JavaScript for all actions.
					</li>
				</ul>
			</div>
		</div>
	</div>






	<!-- ----------------------Saturn Skill------------------------------- -->
	
	<div id="saturn" class="skillModal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2 class="skillTitle">
				Java
			</h2>
			
			<div class="experience">
				<p class="subHeader">Experience</p>
				<p>Java is the first programming language that is taught at West Chester University. It is the primary language used for the first two years of the degree program.
				I am very familiar and comfortable with Java and making interfaces with JavaFX. </p>
			</div>

			<div class="classes">
				<p class="subHeader">Classes</p>
				<ul>
					<li>
						CSC 141: Computer Science I
					</li>
					<li>
						CSC 142: Computer Science II
					</li>
					<li>
						CSC 240: Computer Science III
					</li>
					<li>
						CSC 241: Data Structures & Algorithms
					</li>
					<li>
						CSC 417: User Interfaces
					</li>
				</ul>
			</div>

	<!-- No projects to display yet -->
	<!-- 
			<div class="projects">
				<p class="subHeader">Projects</p>
				<ul>
					<li>
						
					</li>
				</ul>
			</div> -->
		</div>
	</div>



<!-- ----------------------Uranus Skill------------------------------- -->
	<div id="uranus" class="skillModal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2 class="skillTitle">
				3D Modeling
			</h2>
			
			<div class="experience">
				<p class="subHeader">Experience</p>
				<p>I have used 3D modeling tools including: Inventor, AutoCad. Revit, Maya, Blender, and Solidworks. I mainly modeled machine parts, but I also have made characters and animations in maya and made housing plans in Revit. During my senior year of high school, I modeled the robot for the robotics team at Cheboygan Area High School that ended up going to the First Robotics World Championship. I have also revised housing plans for Habitat For Humanity. I placed fourth in the state at the Michigan Industrial Technology Education Society Competition.</p>
			</div>

			<div class="classes">
				<p class="subHeader">Classes</p>
				<ul>
					<li>
						Introduction to Drafting/Architecture
					</li>
					<li>
						Archtectural Design
					</li>
					<li>
						Engineering & Industrial Design
					</li>
					<li>
						Computer Aided Design
					</li>
					<li>
						Advanced Computer Aided Design
					</li>
					<li>
						CSC 476: Game Development
					</li>
				</ul>
			</div>

			<!-- no projects to show yet -->
			<div class="projects">
				<p class="subHeader">Projects</p>
				<ul>
					<li>
						Mission Demolition	
					</li>
					<li>
						High School Robotics Team Robot	
					</li>
					<li>
						Revised Habitat For Humanity Housing Plans
					</li>
				</ul>
			</div>
		</div>
	</div>


	

<!-- ----------------------Neptune Skill------------------------------- -->
	<div id="neptune" class="skillModal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2 class="skillTitle">
				C#
			</h2>
			
			<div class="experience">
				<p class="subHeader">Experience</p>
				<p>Most of my experience with C# comes from a Game Devolopment Course that I took. We made multiple games in that class in Unity. Most of those games can be played on this site. </p>
			</div>

			<div class="classes">
				<p class="subHeader">Classes</p>
				<ul>
					<li>
						CSC 476: Game Development
					</li>
				</ul>
			</div>

			<div class="projects">
				<p class="subHeader">Projects</p>
				<ul>
					<li>
						Pile it Up
					</li>
					<li>
						Apple Picker
					</li>
					<li>
						Labyrinth
					</li>
					<li>
						Mission Demolition
					</li>
				</ul>
			</div>
		</div>
	</div>

<!-- ----------------------Pluto Skill------------------------------- -->
	
<div id="pluto" class="skillModal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2 class="skillTitle">
				Python
			</h2>
			
			<div class="experience">
				<p class="subHeader">Experience</p>
				<p>I have been programming in python since my senior year of high school. I am mainly self-taught, but I have also taken college courses that use python in-depth. I have used python for data mining, machine learning, and as a web framework with Django. Some of the libraries that I use the most are: Matplotlib, SciKit-Learn, 
				BeautifulSoup 4, Numpy, Tensorflow, Pandas, Keras, and OpenCV. </p>
			</div>

			<div class="classes">
				<p class="subHeader">Classes</p>
				<ul>
					<li>
						CSC 481: Artificial Intelligence 
					</li>
					<li>
						CSC 317: Visual Programming 
					</li>
					<li>
						CSC 490: Independent Project 
					</li>
					<li>
						CSC 576: Data Science
					</li>
					
				</ul>
			</div>

			<div class="projects">
				<p class="subHeader">Projects</p>
				<ul>
					<li>
						This website uses Django.
					</li>
				</ul>
			</div>
		</div>
	</div>
	

</div>