{% extends "portfolio/header.html" %}

{% block title %}
 <title>Education</title>
{% endblock %}

 
{% load static %} 

{% block style %}
<link rel='stylesheet' href= "{% static '/portfolio/css/education.css' %}" type='text/css'>
<!-- <link href= "{% static '/portfolio/js/education.js' %}" type='text/css'> -->

{% endblock %} 


{% block content %}

 {% include 'portfolio/include/planets.html' %}

<script src="{% static 'portfolio/js/education.js' %}">
</script>
		
{% endblock %}



