<!DOCTYPE html>
<html lang="en">
<head>
   {% block title %}
  {% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


    {% load static %} 


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href= "{% static '/portfolio/css/header.css' %}" type='text/css'>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


  {% block style %}
  {% endblock %}
    
</head>
<body id="bod">



    
    {% include 'portfolio/include/navbar.html' %}


    {% block content %}
    {% endblock %}

    

</body>
</html>