{% extends "portfolio/header.html" %}

{% block title %}
 <title>Home</title>
{% endblock %}


{% load static %} 

{% block style %}
<link rel='stylesheet' href= "{% static '/portfolio/css/home.css' %}" type='text/css'>
{% endblock %}


{% block content %}
	<div id="space"></div>
   <div id="sky"></div>

	<section class="nameBlock">
		<p class="name">Ramsey Villarreal</p>
		<p class="title">Computer Scientist</p>
		<a href="https://github.com/RamseyV"><img class="link" src="{% static 'portfolio/images/github.png'%}"></a>
		<a href="https://www.linkedin.com/in/ramsey-villarreal-2b3505166/"><img class="link" src="{% static 'portfolio/images/linkedin.png'%}"></a>
	</section>


	<button id="launch" class="launch" onclick="launchRocket()"><img id="launchButton" src="{% static 'portfolio/images/launch-button.png' %}"></button>
<!-- <canvas id="space" width="100%" height="100%"></canvas> -->
	<img id="rocket" class="rocket" src="{% static 'portfolio/images/rocket.png' %}">

	
	<script type="text/javascript">
		screenWidth = screen.width;
		screenHeight = screen.height;
		numClouds=8;
		function createClouds(screenWidth, screenHeight, numClouds ){
			var sky = document.getElementById("sky");

			for(var i=0; i<numClouds;i++){
				var cloud = document.createElement("img");
				cloud.setAttribute("src", "{% static 'portfolio/images/medCloud.png' %}")
				cloud.className = "cloud";		
				var top = Math.floor(Math.random() *  (screenHeight));
				var left = Math.floor(Math.random() * screenWidth+1);
				cloud.style.top = top + "px";
				cloud.style.left = left + "px";
				sky.appendChild(cloud);
			}
		}

		createClouds(screenWidth,(-screenHeight/2),numClouds);
		createClouds(screenWidth,(-screenHeight),numClouds);
	</script>


	<script src="{% static 'portfolio/js/home.js' %}">
		
	</script>

   
{% endblock %}
