{% extends "portfolio/header.html" %}

{% block title %}
 <title>Projects</title>
{% endblock %}


{% load static %} 

{% block style %}

<link rel='stylesheet' href= "{% static '/portfolio/css/unity.css' %}" type='text/css'>

<link rel="shortcut icon" href="{% static '/portfolio/TemplateData/favicon.ico' %}">
<link rel="stylesheet" href="{% static '/portfolio/TemplateData/style.css' %}">
<script src="{% static '/portfolio/TemplateData/UnityProgress.js' %}"></script>  
<script src="{% static '/portfolio/Build/UnityLoader.js' %}"></script>
<script src="{% static '/portfolio/TemplateData/UnityProgress.js' %}"></script>  
<script src="{% static '/portfolio/Build/UnityLoader.js' %}"></script>
{% endblock %}


{% block content %}

	<script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "{% static '/portfolio/Build/MissionDemolition.json' %}", {onProgress: UnityProgress});
    </script>

    <div class="webgl-content">
      <div id="gameContainer" style="width: 960px; height: 500px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">Pile it UP</div>
      </div>
    </div>

    {% endblock %}