{% extends "portfolio/header.html" %}

{% block title %}
 <title>Projects</title>
{% endblock %}


{% load static %} 

{% block style %}
<link rel='stylesheet' href= "{% static '/portfolio/css/projects.css' %}" type='text/css'>
{% endblock %}


{% block content %}

<div class="container">
<div class="row" >
	<br>
	<div class="col s12 center-align" style="padding-bottom: 25px">
		<h4>Projects</h4>
	</div>
	<br>
	<div class="col s12 m4" id="project" >
		<div class="card">
	       <div class="card-title center-align">
		      Pile it UP
			</div>
			<div class="content">
				<p>The goal of the game is to stack the highest tower of block possible. It was made by Claudia Gajes, Sidney Mantwill, Jake Steckel and Ramsey Villarreal.</p>
			</div>

			<div class="card-action">
				 <p>
					     <a href="Pile-it-UP/index.html">Play Here</a>
				</p>
				<p>
				    <a href="https://github.com/WCU-CSC476-F18/PileItUP/">Github Repository</a>
				</p>
				<p><a href="Pile-it-UP-Design.pdf">The Design Document can be found here.</a></p>
				<p><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vT7FPbdjIbTyZZXTSUQNXueX5SsSVj3Js50p8ZLYALJ8y1R-YvkDYHTypgL3vsi4WA8tn7HgGY3zAeY/pubhtml">The Burndown Chart can be found here.</a></p>
			</div>
	
		</div>
	</div>

	<div class="col s12 m4" id="project">
		<div class="card">
	        <div class="card-title center-align">
				Apple Picker
			</div>	

			

			<div class="content">
				<p>Apple Picker is a game dervied from Introduction to Game Design, Prototyping, and Development by Gibson and Bond. The point of the game is to catch as many apples as possible with the basket. You lose a life every time an apple gets past the basket. The game was built in Unity.</p>
			</div>
			
			<div class="card-action center-align">
				<p>
				    <a href="ApplePickerWebGL/index.html">Play Here</a>
				</p>
				<p>
				    <a href="https://github.com/RamseyV/ApplePicker">Github Repository</a>
				</p>
				
			</div>
	
		</div>
	</div>

	<div class="col s12 m4" id="project">
		<div class="card">
	        <div class="card-title center-align">
				Labyrinth
			</div>	

			

			<div class="content">
				<p>Labyrinth is a game dervied from Introduction to Game Design, Prototyping, and Development by Gibson and Bond. The point of the game is get the ball through the maze to the white hole. You lose a life if you fall off of the maze or if you run into a black hole. The game was built in Unity.</p>
			</div>
		
			<div class="card-action">
				<p>
		     		<a href="LabyrinthWebGL/index.html">Play Here</a>	
		 		</p>
		 		<p>
		 			<a href="https://github.com/WCU-CSC476-F18/TeamProject1">Github Repository</a>
		 		</p>
				
			</div>
	
		</div>
	</div>


<div class="col s12 m4" id="project">
		<div class="card">
	        <div class="card-title center-align">
				Mission Demolition
			</div>	

			

			<div class="content">
				<p>Mission Demolition is a game derived from Introduction to Game Design, Prototyping, and Development by Gibson and Bond. The goal of the game is to shoot a projectile to knock them down.</p>
			</div>
		
			<div class="card-action">
				<p>
		     		<a href="MissionDemolition/index.html">Play Here</a>	
		 		</p>
		 		<p>
		 			<a href="https://github.com/RamseyV/MissionDemolition">Github Repository</a>
		 		</p>
				
			</div>

		</div>
	</div>


</div> <!-- end row -->



</div>





{% endblock %}




