{% extends "portfolio/header.html" %}

{% block title %}
 <title>Projects</title>
{% endblock %}


{% load static %} 

{% block style %}
<link rel='stylesheet' href= "{% static '/portfolio/css/projects.css' %}" type='text/css'>
{% endblock %}


{% block content %}

	<!-- <div class="navColor"></div> -->

	<br>
		<h2 class="pageTitle">Projects</h2>
	<br>

	<div class="container">

<!-- --------------------------- Pile it UP  ---------------------------------------- -->
	
		<div class="card">
	       <div class="card-title">
		      Pile it UP
			</div>


			<div class="content">
				<p>The goal of the game is to stack the highest tower of block possible. It was made by Claudia Gajes, Sidney Mantwill, Jake Steckel and Ramsey Villarreal.</p>
		
				<p><a href="http://taz.cs.wcupa.edu/~rv849160/Pile-it-UP/index.html">Play Here</a></p>
				<p><a href="https://github.com/WCU-CSC476-F18/PileItUP/">Github Repository</a></p>
				<p><a href="Pile-it-UP-Design.pdf">The Design Document can be found here.</a></p>
				<p><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vT7FPbdjIbTyZZXTSUQNXueX5SsSVj3Js50p8ZLYALJ8y1R-YvkDYHTypgL3vsi4WA8tn7HgGY3zAeY/pubhtml">The Burndown Chart can be found here.</a></p>
			</div>
	
		</div>



<!-- --------------------------- Apple Picker  ---------------------------------------- -->
		<div class="card">
	        <div class="card-title">
				Apple Picker
			</div>	

			

			<div class="content">
				<p>Apple Picker is a game dervied from Introduction to Game Design, Prototyping, and Development by Gibson and Bond. The point of the game is to catch as many apples as possible with the basket. You lose a life every time an apple gets past the basket. The game was built in Unity.</p>
		
				<p><a href="http://taz.cs.wcupa.edu/~rv849160/ApplePickerWebGL/index.html">Play Here</a></p>
				<p><a href="https://github.com/RamseyV/ApplePicker">Github Repository</a></p>
				
			</div>
	
		</div>

<!-- --------------------------- Labyrinth  ---------------------------------------- -->

		<div class="card">
	        <div class="card-title center-align">
				Labyrinth
			</div>	

			

			<div class="content">
				<p>Labyrinth is a game dervied from Introduction to Game Design, Prototyping, and Development by Gibson and Bond. The point of the game is get the ball through the maze to the white hole. You lose a life if you fall off of the maze or if you run into a black hole. The game was built in Unity.</p>
		
				<p><a href="http://taz.cs.wcupa.edu/~rv849160/LabyrinthWebGL/index.html">Play Here</a></p>
		 		<p><a href="https://github.com/WCU-CSC476-F18/TeamProject1">Github Repository</a></p>
				
			</div>
	
		</div>



<!-- --------------------------- Mission Demolition  ---------------------------------------- -->


		<div class="card">
	        <div class="card-title">
				Mission Demolition
			</div>	

			

			<div class="content">
				<p>Mission Demolition is a game derived from Introduction to Game Design, Prototyping, and Development by Gibson and Bond. The goal of the game is to shoot a projectile to knock them down.</p>
		
				<p><a href="http://taz.cs.wcupa.edu/~rv849160/MissionDemolition/index.html">Play Here</a></p>
		 		<p><a href="https://github.com/RamseyV/MissionDemolition">Github Repository</a></p>
				
			</div>

		</div>


	</div>



{% endblock %}




