

.navbar{
	font-size:20px;
	background-color: rgba(226, 226, 226,.8);
	width:150px;
	position: fixed;
	top:2.5em;
	left:5%;
	z-index: 99;

	
}


.main-nav{
	list-style-type: none;
	display: none;
	padding-left: 10%;
}

.link{
	text-decoration: none;
	color:rgb(0,0,0);
	font-size: 1em;
}




.navbar-toggle{
	padding-top: 0;
	position: fixed;
	top: 1em;
	left: 5%;
	cursor: pointer;
	color: rgba(226, 226, 226,.8);
	font-size: 1.5em;
	background-color:transparent;
	z-index: 99;
}

.active{
	display: block;
	
}

@media screen and (min-width: 768px){
	.navbar{
		display: flex;
		justify-content: space-between;
		padding-bottom: 0;
		height: 4em;
		align-items: center;
		width: 97%;
		position: relative;
		top:0px;
		background-color: transparent;
		font-size: 1.5em;
		left: 0px;
	}
	

	.main-nav{
		display: flex;
		margin-left: auto;
		flex-direction: row;
		padding-left: 0%;
		

	}

	.main-nav li{
		margin: 0px;
	
	}


	.link{
		margin-right: 40px;
		color:rgba(255,255,255,1);
	}

	.navbar-toggle{
		display: none;
	}

	.link:hover{
		color: rgba(200,200,200,1);
		
	}
}


