body{
	background-color: #D9B08C;
	background-attachment: fixed;
	font-family: "Courier New" ; 
}
/*yellow*/
/* #EAC67A*/

.navColor{
	background-color: transparent;
}

@font-face {
  font-family: builtFont;
  src: url(../fonts/built_titling_el.ttf);
}

@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans-Thin.ttf);
}



.pageTitle{
	width: 8em;
	margin: auto;
	text-align: center;
	margin-top: 1em;
	z-index: -2;
	color: black;
	font-size: 3em;
	font-family: builtFont;
	background-color: #FFCB9A;
	padding-top: .25em;
	padding-bottom: .25em;
	box-shadow: 0 0 0 1pt #2C3531;
	border-radius: 5%;
	letter-spacing: .25em;
	/*text-decoration: underline;*/
}

.container{
	/*width: 100%;*/
	
	margin-top: 1em;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

    -webkit-flex-flow: row wrap;
	flex-wrap: wrap;
	flex-direction: row;

	
	justify-content: space-around;

	margin-left: auto;
	/*background: blue;*/

}

.card{
	/*z-index: 1;*/
	/*padding: 5px;*/
    width: 20em;
    height: auto;
    min-height: 15em;
    margin-top: 1em;
  
  	border-radius: 5%;
	background-color: #D1E8E2;
	font-family: AlegreyaSans;
	/*letter-spacing: .5em;*/

	/*background-color: rgb(137, 207, 240);*/
	overflow-y: auto;
	color: black;
	text-align:center;
}

a{
	color: black;
}

.card-title{
	font-size: 3em;
	/*text-decoration: underline;*/
	

}
.content{
	font-size: 1em;
	font-family: "Courier New";
}


@media screen and (min-width: 800px){
	
	.container{
		width: 80%;
		margin: auto;
	}

	.card{
		min-width: 300px;
		width: 20%;
    	height: auto;
    	margin-left: 5%;
    	margin-right: 5%;
    	margin-top: 5%;
    	margin-bottom: auto;

	
	}
	.navColor{
		height: 7em;
		width: 100%;
		background: linear-gradient(#2C3531 0%, #116466  100%);
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 1;
	}


}